* {
	box-sizing: border-box;
}

html {
	height: 100%;
	//font-size: $base-font-size;
	font-size: 10px;
	cursor: default;
}

body {
	overflow-y: scroll;
	margin: 0;
	font-family: $base-font;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}
